<!DOCTYPE html>
<html ng-app="todoapp">
<head>
  <title>Todoapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="home_controller">

<div class="container">
      <div class="ng-view"></div>

</div>

</body>
</html>
